@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    margin: 0;
    background-color: #ccc;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; */
    padding: 1rem;
    font-family: 'Questrial', sans-serif;
}
.create-question-section{
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.question-container{
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4px;
    flex: 9;
}
.question-input{
    padding: 2rem;
    box-shadow: 2px 2px 6px 2px #ccc;
    border: 0;

}
.operations-container{
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
}
.operations-container button{
    box-shadow: 2px 2px 6px 2px #ccc;
}
.option-container{
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}
.question-type-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-question-section{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    border-top: thin solid black;
}
.individual-questions{
    display: flex;
    padding:0.5rem;
    box-shadow: 2px 2px 6px 2px #ccc;
}
.question-part{
    flex:9;
    display: flex;
    flex-direction: column;
}
.action-btn {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
  }
  
  .ver-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  .del-btn{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

 
     